/* @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Shadows+Into+Light&display=swap');; */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Ubuntu:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -------------------------------- cat facts ------------------------------- */
/* body{
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Black Ops One', cursive;
}
.main{
  padding: 1em;
  height: 70%;
  width: 30%;
  display: grid;
  place-content: center;
  border-radius: 15px;
  border: 2px solid black;
}
.main > h1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.main > p{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}
.main > button{
  padding: 15px 30px;
  font-size: 15px;
  font-weight: bold;
  color: #121212;
  cursor: pointer;
  background: #ffff;
  outline: none;
  border: 2px solid black;
  border-radius: 20em;
  font-family: 'Shadows Into Light', cursive;
  width: 200px;
  margin: 0 auto;
} */

/* ----------------------------- college search ----------------------------- */


body{
  background-color: #ADD8E6;
}
nav{
  padding: 1em 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  gap: 5em;
  align-items: center;
  border-bottom: 1px solid #000;
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  z-index: 1;
}
nav > div > h1{
  font-size: 2em;
  text-transform: capitalize;
  font-family: 'Acme', sans-serif;
}
.inpt{
  display: flex;
  gap: 5px;
}
nav > div > input{
  width: 130%;
  height: 50%;
  padding: 10px 10px;
  outline: none;
  border: 2px solid #000;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
nav > div > button{
  padding: 10px 30px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background: #000;
  outline: none;
  border: 1px solid black;
  border-radius: 20em;
  font-family: 'Shadows Into Light', cursive;
  width: 150px;
}
main{
  padding: 7em 1em 2em 1em;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
main > .content{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  padding: 1em;
  border-radius: 10px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  width: 49%;
}
main > .content > div > h3{
  font-size: 1.2em;
  font-family: 'Acme', sans-serif;
  margin-bottom: 8px;
}
h3 > a{
  color: black;
  text-transform: none;
}
main > .content > div > h3 > span{
  font-size: 1em;
  font-weight: 200; 
  font-family: 'Ubuntu', sans-serif;

}
main > .content > div > .trash{
  font-size: 1.5em;
  color: red;
  cursor: pointer;
}
.fade-out {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (width <= 767px){
  nav{
    flex-direction: column;
    gap: 1em;
  }
  nav > div > h1{
    font-size: 1.5em;
  }
  .inpt{
    flex-direction: column;
    align-items: center;
  }
  main{
  padding: 12em 1em 2em 1em;
}
main > .content{
  width: 100%;
}
}